{% extends "base.jinja" %}
{% block content %}
  {% for article in news %}
    <div class=article>
      <h2>{{ article.title }}</h2>
      <h4>Likes: {{ article.likes }}</h4>
      {{ article.body }}
    </div>
  {% endfor %}
  <a href="/contact">Have info on touched? Please click here!</a>
{% endblock %}
